# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


*.config
*.cproject
*.project
*.scons*
*.creator*
*.user*
*.files
*.includes
main
